:root {
    --color-zero: #4B8BBE;
    --color-primary: #FFD43B;
    --color-secondary: #E6B800;
    --black-color: #000000;
    --white-color: #ffffff;
    --gray-color: #1A1A1A;
}


/*
ORANGE
:root {
    --color-zero: #FFA500;
    --color-primary: #FF7F11;
    --color-secondary: #FF8C42;
    --black-color: #000000;
    --white-color: #E0FAFA;
    --gray-color: #1A1A1A;
}*/