@import url("main.css");

/* ====== Main Container ====== */
.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 1rem;
}

/* ====== Title ====== */
h1 {
    color: var(--gray-colorbis);
    margin-bottom: 1.5rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
}

/* ====== Secondary Title ====== */
h2 {
    color: var(--gray-colorbis);
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1.75rem;
    font-weight: 400;
}

ul {
    list-style: none;
    padding: 0;
    max-width: 600px;
    margin: 0 auto 2rem auto;
}

li {
    background-color: var(--gray-color);
    border-radius: 8px;
    margin-bottom: 2rem;
    padding: 0.5rem;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 6px var(--color-zero);
}

li:hover {
    background-color: var(--gray-color);
    transform: translateY(-3px);
}

a {
    color: var(--color-primary);
    font-weight: 600;
    text-decoration: none;
    font-size: 1.1rem;
    transition: color 0.2s ease, text-decoration 0.2s ease;
}

li a {
    display: block;
}

a:hover {
    color: var(--color-secondary);
    text-decoration: underline;
}

.return-link {
    display: block;
    text-align: center;
    margin-top: 2rem;
    color: var(--white-color);
    font-weight: 500;
    text-decoration: none;
}

.return-link:hover {
    color: var(--color-zero);
    text-decoration: underline;
}