@import url("main.css");

body {
    margin: 0;
    font-family: sans-serif;
    background-color: var(--black-color);
}

#overlay {
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--black-color);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: opacity 0.3s ease;
}

#popup{
    background-color: var(--black-color);
    width: 85%;
    height: 80%;
    max-width: 1000px;
    max-height: 900px;
    display: flex;
    flex-direction: column;
    position: relative;
}

#terminal {
    flex: 1;
    border-radius: 8px;
    overflow: auto;
    border: 2px solid var(--color-primary);
    box-shadow: 0 6px 16px var(--color-zero);
    margin: 1rem;
    padding: 1rem;
    font-size: 1.1em;
    background: var(--black-color);
    position: relative;
}

#terminal::-webkit-scrollbar { width: 10px; height: 10px; }

#terminal::-webkit-scrollbar-track { background: var(--black-color); border-radius: 8px; }

#terminal::-webkit-scrollbar-thumb { background: var(--color-zero); border-radius: 8px; }

#terminal::-webkit-scrollbar-thumb:hover { background: var(--color-zero); }


#url {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 6px 10px;
    background: var(--black-color);
    text-align: right;
    border-top: 1px solid var(--color-primary);
    z-index: 10;
}

#url a {
    font-size: 14px;
    color: var(--color-zero);
    text-decoration: none;
    font-weight: bold;
}

#url a:hover {
    text-decoration: underline;
    color: var(--color-secondary);
}



#close-btn {
    position: absolute;
    margin-bottom: 10px;
    margin-right: 15px;
    bottom: 20px;
    right: 20px;
    background: var(--color-primary);
    border: none;
    color: var(--white-color);
    padding: 6px 12px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    display: none;
}

#close-btn:hover {
    background: var(--color-primary);
}