<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Python Graphic</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="icon" href="https://upload.wikimedia.org/wikipedia/commons/c/c3/Python-logo-notext.svg" type="image/svg+xml">

    <link rel="stylesheet" href="{{ url_for('static', filename='style/graphic.css') }}">
</head>
<body>
    <div id="graphics"></div>
    <script src="{{ url_for('static', filename='javascript/graphic.js') }}"></script>
</body>
</html>