<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{{ modulo.module_name }} - Exercise {{ exercise_id }}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='xterm/xterm.css') }}">
    <script src="{{ url_for('static', filename='xterm/xterm.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.1/socket.io.min.js"></script>


    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style/root.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/02_task.css') }}">
</head>

<body>
    <div id="overlay">
        <div id="terminal"></div>
        <button id="close-btn" style="display:none">Close</button>
    </div>

    <script>
        window.exerciseData = {
            folderName: "{{ folder_name }}",
            moduleId: Number("{{ modulo.id }}"),
            exerciseId: Number("{{ exercise_id }}")
        };
    </script>

    <script src="{{ url_for('static', filename='javascript/terminal.js') }}"></script>
</body>
</html>
