@import url("root.css");

/* ====== Main Container ====== */
.container {
    max-width: 900px;
    margin: 0 auto;
    padding-top: 15vh;
}

/* ====== Title ====== */
h1 {
    color: var(--secondary);
    margin-bottom: 1.5rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
}

/* ====== Secondary Title ====== */
h2 {
    color: var(--secondary);
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1.75rem;
    font-weight: 400;
}

/* ====== List ====== */
ul {
    list-style: none;
    padding: 0;
    max-width: 600px;
    margin: 0 auto 2rem auto;
}

li {
    background-color: var(--bg-ligth);
    border-radius: 8px;
    margin-bottom: 1rem;
    padding: 1rem;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 6px var(--shadow);
}

li:hover {
    background-color: var(--highlight); /* Color amarillo para resaltar */
    transform: translateY(-5px);
    box-shadow: var(--shadow-hover);
}

/* ====== Link Styling ====== */
a {
    color: var(--primary);
    font-weight: 600;
    text-decoration: none;
    font-size: 1.1rem;
    transition: color 0.2s ease, text-decoration 0.2s ease;
}

li a {
    display: block;
}

a:hover {
    color: var(--secondary);
    text-decoration: underline;
}

/* ====== Return Link ====== */
.return-link {
    display: block;
    text-align: center;
    margin-top: 2rem;
    color: var(--light);
    font-weight: 500;
    text-decoration: none;
}

.return-link:hover {
    color: var(--light);
    text-decoration: underline;
}
